name: my_app
description: A new Flutter project.


version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  # state management
  stacked: ^1.7.1
  stacked_hooks: 0.1.1+3
  # navigation
  auto_route: ^0.6.9
  stacked_services: 0.6.0
  # inversion of control
  get_it:
  injectable:
  flutter_hooks:
  observable_ish:
  image_picker: ^0.6.6+4
  http: ^0.12.0+4
  email_validator:
  animations: ^1.1.1
  lottie: ^0.6.0
  shared_preferences: ^0.5.7+3
  smooth_page_indicator: ^0.1.5
  flutter_svg: ^0.19.0
  country_picker: ^1.1.4
  intl: ^0.16.1
  google_maps_flutter: ^1.0.6  
  geolocator:  
  permission_handler:
  firebase_dynamic_links: ^0.7.0+1
  url_launcher: ^5.7.10
  encrypt: ^4.1.0
  flutter_json_widget: ^1.0.1
  
  
dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner:
  auto_route_generator:
  injectable_generator:
  mockito:

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/lottie/
    - assets/svg/
    - assets/images/destination_map_marker.png
    - assets/images/driving_pin.png

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
